<p>Stundentafel</p>
	<form>
		<table id="attribution">
			<th>Fach</th>
			<% @schoolclasses = Schoolclass.all %>
			<% @schoolclasses.each do |schoolclass| %>
				<th>
					<%= schoolclass.name %>
				</th> 
			<% end %>

			<% @subjects = Subject.all %>
			<% @subjects.each do |subject| %>
				<tr>
					<td> 	
						<%=  subject.name %>
					</td>
					<% @subject_teachers=Department.all(:subject_id => subject.id)%>
					
					<% @schoolclasses.each do |schoolclass| %>
						<td>
							<% if Profileassignment.first(schoolclass_id: schoolclass.id) != nil then %>
								<% @profil_id=Profileassignment.first(schoolclass_id: schoolclass.id).profile_id %>
								<% profilsub = Profilesubject.first(:profile_id => @profil_id, :subject_id => subject.id)%>
								<% if profilsub != nil then%>
									<select name="<%=(schoolclass.id).to_s+'_'+(subject.id).to_s%>">
										<% @subject_teachers.each do |teacher| %>
											<option value="<%=(teacher.teacher_id).to_s%>"><%= Teacher.first(id: teacher.teacher_id).shortcut %></option>
										<% end %>
									</select>

									<%= profilsub.hours %>
								<%end%>
							<% end %>
						</td> 
					<% end %>
				</tr>

			<% end %>
		</table>
		<input type="submit">
	</form>