<!DOCTYPE html>
<html>
	<head>
		<title>uvert</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/datatables.css">
		<link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="/css/fixedColumns.dataTables.min.css">
		<script src="/jquery/jquery-2.1.4.js"></script>
	 	<script src="/jquery/jquery.cookie.js"></script>
	 	<script src="/jquery/funktionen.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/datatables.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/dataTables.buttons.min.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/dataTables.fixedColumns.min.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/buttons.colVis.min.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/buttons.flash.min.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/buttons.html5.min.js"></script>
	 	<script type="text/javascript" charset="utf8" src="/jquery/buttons.print.min.js"></script>
	</head>
	<body>
	<!-- ANFANG Kopfbereich mit TERMWAHL und MENÜ ANFANG -->
			
			<table id="kopfbereich">
				<div id="termwahl">
				<% @terms=Term.all %>
				<% @term_choice="" %>
				<% @terms.each do |term| %>
					<% @term_choice = @term_choice + "<option value=' " + (term.id).to_s +  "'" + if term.id==Term.first(is_active: true).id then "selected" else "" end + ">" + term.name.to_s + "</option>" %>
	 			<% end %>
	 			<form>
 					<select>
 						<%= @term_choice %>
 					</select>
	 			</form>
				
				</div>
				<!--Eine Auswahl an Menüitems mit Pfadangabe, das kann sicher globaler oder eleganter gelöst werden -->
				<% @menuitems={"Verteilung"=> "/attributions", "Lehrkräfte"=> "/teachers", "Fächer"=> "/subjects", "Klassen"=> "/schoolclasses"}%>
				<tr>
					<td> 	
						<ul id="Navigation">
							<% @menuitems.each do |key,val| %>
							<%= "<li class='" + is_active?(val.to_s) + "'><a href="+ val +">"+ key.to_s + "</a></li>" %>
							<% end %>
						</ul>
					</td>
				</tr>
			</table>

			<ul id="Navigation2">
				<% @teacher_items={"Lehrkräfte"=> "/teachers", "Verpflichtungen"=> "/workloads", "Ermäßigungen"=> "/compensations"}%>
				<% @teacher_items.each do |key,val| %>
					<% if request.path_info.include? val.to_s%>
						<% @teacher_items.each do |key,val| %>
							<%= "<li class=" + is_active?(val.to_s)+"><a href="+ val +">"+ key.to_s + "</a></li>" %>
						<% end %>
					<%end%>	
				<%end%>
				<% @schoolclass_items={"Klassen"=> "/schoolclasses", "Profile"=> "/profiles", "Ermäßigungen"=> "/compensations"}%>
				<% @schoolclass_items.each do |key,val| %>
					<% if request.path_info.include? val.to_s%>
						<% @schoolclass_items.each do |key,val| %>
							<%= "<li class=" + is_active?(val.to_s)+"><a href="+ val +">"+ key.to_s + "</a></li>" %>
						<% end %>
					<%end%>	
				<%end%>	
				<% @subject_items={"Fächer"=> "/subjects", "Verpflichtungen"=> "/workloads", "Ermäßigungen"=> "/compensations"}%>
				<% @subject_items.each do |key,val| %>
					<% if request.path_info.include? val.to_s%>
						<% @subject_items.each do |key,val| %>
							<%= "<li class=" + is_active?(val.to_s)+"><a href="+ val +">"+ key.to_s + "</a></li>" %>
						<% end %>
					<%end%>	
				<%end%>	
				<% @attribution_items={"Verteilung"=> "/attributions", "Profile"=> "/profiles"}%>
				<% @attribution_items.each do |key,val| %>
					<% if request.path_info.include? val.to_s%>
						<% @attribution_items.each do |key,val| %>
							<%= "<li class=" + is_active?(val.to_s)+"><a href="+ val +">"+ key.to_s + "</a></li>" %>
						<% end %>
					<%end%>	
				<%end%>		
			</ul>		

	<!-- ENDE Kopfbereich mit TERMWAHL und MENÜ ENDE -->

<!-- ANFANG Seitenmenü mit dynamischen Inhalten ANFANG -->
		<img id="dreieck1" class"dreieck" src="./pics/dreieck.gif" height="15"/>
		<div id="boxcontainer" class="links">
			<div id="info1" class="info">
				<%=if request.path_info.include? "teachers" then "Lehrkräfte"
				elsif request.path_info.include? "attributions" then "Verteilung"
				elsif request.path_info.include? "subjects" then "Fächer"
				elsif request.path_info.include? "schoolclasses" then "Klassen"
				else "Wähle Bereich"
				end %>
			</div>
			<div id="info2" class="info">
				Hier steht was anderes
			</div>
			<div id="info3" class="info">
				Kontakt und ganz viele weitere Sachen lorum ipsum Besenstil.....................
			</div>
		</div>
<!-- ENDE Seitenmenü mit dynamischen Inhalten ENDE -->

<!-- ANFANG Cookie-Speicherung des Menüzustands ANFANG -->
		<script type="text/javascript">

		function where(){
			
			if (<%=request.path_info.include? "teachers"%>) {
			var active='teachers';
			} else if (<%=request.path_info.include? "subjects"%>) {
			var active='subjects';
			} else if (<%=request.path_info.include? "departments"%>) {
			var active='departments';
			} else if (<%=request.path_info.include? "schoolclasses"%>) {
			var active='schoolclasses';
			} else if (<%=request.path_info.include? "terms"%>) {
			var active='terms';
			} else if (<%=request.path_info.include? "grades"%>) {
			var active='grades';
			} else if (<%=request.path_info.include? "compensations"%>) {
			var active='compensations';
			} else if (<%=request.path_info.include? "electives"%>) {
			var active='electives';
			} else if (<%=request.path_info.include? "courses"%>) {
			var active='courses';
			} else {
			var active='nowhere';
			}
			
			
		return active;
		}

		function getval(sel) {
       		$teacher_id=sel.value;
       		$attrib=sel.name.split("_");
       		$profileassignment_id=$attrib[0];
       		$subject_id=$attrib[1];
       		

       		$.ajax({
  				method: "POST",
  				url: "/attribution",
  				data: { profileassignment_id: $profileassignment_id, subject_id: $subject_id, teacher_id: $teacher_id }
			})
  			
    	}

    	<% #Folgende Funktion dient der Aktualisierung eines ausgwählten Profils %>

    	function getval_profilname(sel) {
    		$profile_id = sel.name;
    		$profile_name = sel.value; 
    		
    		$.ajax({
  				method: "POST",
  				url: "/profile/name/update",
  				data: { profile_id: $profile_id, profile_name: $profile_name }
  			})

  			//Aktualisieren der HTML-Darstellung
  			document.getElementById('profile_name').innerHTML = $profile_name;

    	}

    	function getval_profil_subject_hour(sel) {
    		$profil_subject=sel.name.split("_");
    		$profile_id = $profil_subject[0];
    		$subject_id = $profil_subject[1];
    		$subject_hour = sel.value;
    		//Zum Testen
    		//alert(sel.name + ": " + sel.value + " " + $profile_id + "*" + $subject_id);
    	
    		$.ajax({
  				method: "POST",
  				url: "/profile/subject_hour/update",
  				data: { profile_id: $profile_id, subject_id: $subject_id, subject_hour: $subject_hour}
  			})
    		//Aktualisieren der HTML-Darstellung
    		var element_id = "subject_" + $subject_id;
    		//Nicht-aktiv: Schriftfarbe grau (#CCCCCC), sonst schwarz (#000000)
    		if ($subject_hour == 0) {
    			document.getElementById(element_id).color = '#CCCCCC';
    		} else {
    			document.getElementById(element_id).color = '#000000';
    		}		
    	}

    	function getval_profil_class(sel) {
    		$profil_class=sel.name.split("_");
    		$profile_id = $profil_class[0];
    		$class_id = $profil_class[1];
    		//Zum Testen
    		//alert(sel.name);
    		// alert(sel.name + ": " + sel.value + " " + $profile_id + " " + $subject_id);
    	
    		$.ajax({
  				method: "POST",
  				url: "/profile/class/update",
  				data: { profile_id: $profile_id, class_id: $class_id }
  			})
    		//Aktualisieren der HTML-Darstellung
    		var element_id = "class_" + $class_id;
    		//Nicht-aktiv: Schriftfarbe grau (#CCCCCC), sonst schwarz (#000000)
    		if (document.getElementById(element_id).color != '#000000') {
				document.getElementById(element_id).color = '#000000';
    		} else {
				document.getElementById(element_id).color = '#CCCCCC';
    		}
    		
    	}
    	
    	//  AJAX-BEISPIEL
    	//   $.ajaxSetup ({  
			  //    cache: false  
			  // });



			  // $(document).ready(function() { show_suggested_teachers(6); });


			  
			  // function show_suggested_teachers(subject_id) {
			  //   $.get("/subject/"+subject_id+"/teachers", 
			  //         function(data) {
			  //           $("#update-div").html(data);
			            
			  //         },
			  //         'text');
			  // }
		
			

    	<% ####################################################### %>

		$(document).ready(function(){
			
			$a=where();
			$infocookie='infobox'+$a;
			switch($.cookie('infosmall')) {
			case '1':
				$('#main').removeClass('content');
				$('#main').addClass('contentbig');
				$('#dreieck1').removeClass('dreieck');
				$('#dreieck1').addClass('dreieckrotate');
				$('#boxcontainer').slideUp(1);
				break;
			default:
				$('#main').addClass('content');
				$('#main').removeClass('contentbig');
				$('#dreieck1').addClass('dreieck');
				$('#dreieck1').removeClass('dreieckrotate');
				$.cookie('infosmall', 0, { expires: 7, path: '/' });
				$('#boxcontainer').slideDown(1);
			} 
			
			infolayout($.cookie($infocookie));
			
		});

		$("#dreieck1").click(function(){
			$.cookie('infosmall', 1-$.cookie('infosmall'), { expires: 7, path: '/' });
			$('#main').toggleClass( 'content', $.cookie('infosmall')==0 );
			$('#main').toggleClass( 'contentbig', $.cookie('infosmall')==1 );
			$('#dreieck1').toggleClass( 'dreieck', $.cookie('infosmall')==0 );
			$('#dreieck1').toggleClass( 'dreieckrotate', $.cookie('infosmall')==1 );
			$('#boxcontainer').slideToggle(1);
		});

		$('#info1').hover(function(){
		   $.cookie($infocookie, 1, { expires: 7, path: '/' });
		   infolayout($.cookie($infocookie));
		});
		$('#info2').hover(function(){
		   $.cookie($infocookie, 2, { expires: 7, path: '/' });
		   infolayout($.cookie($infocookie));
		});
		$('#info3').hover(function(){
		   $.cookie($infocookie, 3, { expires: 7, path: '/' });
		   infolayout($.cookie($infocookie));
		});


		</script>
<!-- ENDE Cookie-Speicherung des Menüzustands ENDE -->
<!-- ANFANG Tooltip zur Anzeige der Empfohlenen Leher in der UV ANFANG-->
		<script type="text/javascript">
			$(document).ready(function() {
			// Tooltip only Text
				$('.masterTooltip').hover(function(){
				        // Hover over code
				        var title = $(this).attr('title');
				        $(this).data('tipText', title).removeAttr('title');
				        $('<p class="tooltip"></p>')
				        .text(title)
				        .appendTo('body')
				        .fadeIn('slow');
				}, function() {
				        // Hover out code
				        $(this).attr('title', $(this).data('tipText'));
				        $('.tooltip').remove();
				}).mousemove(function(e) {
				        var mousex = e.pageX + 20; //Get X coordinates
				        var mousey = e.pageY + 10; //Get Y coordinates
				        $('.tooltip')
				        .css({ top: mousey, left: mousex })
				});
			});
		</script>
<!-- ANFANG Tooltip zur Anzeige der Empfohlenen Leher in der UV ANFANG-->
	<%= yield %>
	</body>
</html>
