<h1> <%= @profile.name %> </h1>
<% #  %>

<form action="/profile/<%= @profile.id.to_s %>" method="post">
	<p>Bezeichnung: <input type="text" name="<%= @profile.id.to_s %>" onchange="getval_profilname(this);" value="<%= @profile.name %>"><input type="submit" value="Profilname ändern"></p>
	<input type="hidden" name="_method" value="put">
	<table id="profile_subject_hours">
		<th>Fach</th> 
		<th>Stunden</th> 
		<th>Klassen</th>
			<% for i in 0..((@subjects_hour_tabledata.size)-1) do %>
				<tr>
				<%= @subjects_hour_tabledata[i].to_s %>
				<% if @@schoolclasses_tabledata[i] != nil then %>
					<%= @@schoolclasses_tabledata[i] %>
				<% end %>
				</tr>
			<% end %>
	<tr><td></td></tr>
	
	</table>
	
</form>